<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magemonkeys" translate="label" sortOrder="10" class="magemonkeys-tab">
            <label>Magemonkeys</label>
        </tab>
        <section id="magemonkeys_section" translate="label" type="text" sortOrder="10" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <class>system-extra</class>
            <label>Configuration</label>
            <tab>magemonkeys</tab>
            <resource>Magemonkeys_UniversalPassword::config_configassist</resource>
            
            <group id="universalpassword" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Universal password</label>
                <field id="Password" translate="Universal password" type="text" sortOrder="15" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>password</label>
                </field>
            </group>
        </section>
    </system>
</config>
